@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Lato;
}

.primary {
  min-width: 200px;
  min-height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
}

.page-header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 60;
}

.page-header .header-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header .header-bar__image {
  display: block;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    background: #000;
    width: 200px;
    padding: 20px 10px;
    transition: all 0.5s ease-in-out;
  }
  .menu--active {
    right: 0;
  }
}

.menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .menu__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.menu__item :hover {
  color: #ed145b;
}

.menu__link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 0 8px;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}

.menu__toogle {
  display: none;
}

@media (max-width: 768px) {
  .menu__toogle {
    display: block;
    position: absolute;
    top: 15px;
    left: -45px;
    border: none;
    background: transparent;
  }
  .menu__toogle--line {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    background-color: #ed145b;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.jumbotron {
  position: relative;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  z-index: 50;
}

.jumbotron .intro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jumbotron .intro__header {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1.15px;
  text-align: center;
}

.jumbotron .intro__header--apart {
  font-weight: 800;
}

@media (max-width: 768px) {
  .jumbotron .intro__header {
    font-size: 2em;
  }
}

.jumbotron .intro__line {
  margin-top: 40px;
  width: 200px;
  height: 2px;
  background-color: #ed145b;
}

.jumbotron .intro__text {
  color: #fff;
  margin-top: 40px;
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 0.55px;
  text-align: center;
}

@media (max-width: 768px) {
  .jumbotron .intro__text {
    font-size: 1em;
  }
}

.jumbotron .intro__text--margin {
  margin-top: 18px;
}

.jumbotron .intro__cta {
  margin-top: 50px;
}

.promotion-section {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.promotion-section:before {
  content: '';
  width: 100%;
  height: 45px;
  position: absolute;
  transform: rotate(-1deg);
  background-color: #ed145b;
  z-index: 1;
  top: -25px;
}

.promotion-section .promotion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 650px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 5% 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promotion-section .promotion .promotionblock {
  display: -ms-flexbox;
  display: flex;
  color: #5a5a5a;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 1%;
  -ms-flex: 1 0 30%;
      flex: 1 0 30%;
}

@media (max-width: 768px) {
  .promotion-section .promotion .promotionblock {
    -ms-flex-align: center;
        align-items: center;
  }
}

.promotion-section .promotion .promotionblock__text {
  font-weight: 400;
  font-size: 2.1em;
  font-style: italic;
}

.promotion-section .promotion .promotionblock__line {
  margin-top: 40px;
  width: 200px;
  height: 2px;
  background-color: #ed145b;
}

@media (max-width: 768px) {
  .promotion-section .promotion .promotionblock__line {
    display: none;
  }
}

.promotion-section .promotion .promotionblock__paragraph {
  margin-top: 30px;
  text-align: justify;
  font-size: 1em;
  line-height: 1.6em;
}

.promotion-section .promotion .promotionblock__paragraph2 {
  margin-top: 30px;
  color: #ed145b;
  text-transform: uppercase;
}

.promotion-section .promotion .laptop {
  -ms-flex: 1 0 69%;
      flex: 1 0 69%;
}

@media (max-width: 768px) {
  .promotion-section .promotion .laptop {
    display: none;
  }
}

.promotion-section .promotion .laptop__image {
  max-width: 100%;
}

.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services__header {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 2.2em;
}

.services__line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 40px 0 40px;
}

.services__paragraph {
  color: #5a5a5a;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.services__row {
  margin: 75px 0 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 768px) {
  .services__row {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.services__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 25%;
      flex: 1 0 25%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.services__circle {
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services__circle--image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.services__circle--header {
  padding: 15% 0 0;
  font-size: 1em;
  color: #ed145b;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .services__circle--header {
    padding: 5% 0 5%;
  }
}

.interlude-page {
  background-image: url(../images/hero.png);
  height: 500px;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0 20px;
  text-align: center;
}

.interlude-page__qoutetext {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.prices {
  background-color: #f4f4f4;
}

.prices-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15% 0 10%;
  -ms-flex-align: center;
      align-items: center;
}

.prices-page__header {
  font-size: 2.1em;
  color: #5a5a5a;
  font-weight: 400;
}

.prices-page__line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 40px 0 40px;
}

.prices-page__paragraph {
  text-align: center;
  color: #5a5a5a;
  font-size: 1em;
  font-weight: 300;
}

.prices-page__row {
  margin-top: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices-page__row .box {
  -ms-flex: 0.23;
      flex: 0.23;
  background-color: #fff;
}

.prices-page__row .box .top {
  background-color: #5a5a5a;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10%;
  position: relative;
}

.prices-page__row .box .top .text {
  color: #fff;
  font-size: 1.1em;
}

.prices-page__row .box .top .text .cost {
  font-size: 3em;
  font-style: bold;
}

.prices-page__row .box .top div {
  background-color: #f4f4f4;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  bottom: -20%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: #5a5a5a;
}

.prices-page__row .box .bottom {
  width: 100%;
  padding-top: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.prices-page__row .box .bottom ul {
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

.prices-page__row .box .bottom ul li {
  font-size: 1em;
  color: #5a5a5a;
  font-weight: 300;
  text-align: center;
}

.prices-page__row .box .bottom button {
  margin-top: 30px;
  color: #fff;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.about-page {
  margin: 5% 0 10%;
}

.about-page__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.about-page__row .box {
  -ms-flex: 30%;
      flex: 30%;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.about-page__row .box .text {
  -ms-flex: 0.75;
      flex: 0.75;
  line-height: 1.5em;
}

.about-page__row .box .text h5 {
  color: #ed145b;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0 0 5%;
  text-align: justify;
}

.about-page__row .box .text p {
  font-size: 0.9em;
  font-weight: 300;
  color: #5a5a5a;
}

.about-page__row .box .image {
  -ms-flex: 0.15;
      flex: 0.15;
}

.about-page__row .box .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-page {
  background-color: #ed145b;
  min-height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 11% 0;
}

.banner-page button {
  background-color: #fff;
  color: #ed145b;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-page h6 {
  font-size: 2.2em;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.banner-page h6 span {
  font-weight: 700;
}

.gallery {
  margin: 10% 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.gallery__header {
  font-size: 2.1em;
  color: #5a5a5a;
  font-weight: 400;
}

.gallery__line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 30px 0 40px;
}

.gallery__paragraph {
  text-align: center;
  font-size: 1em;
  color: #5a5a5a;
  font-weight: 300;
  text-align: center;
  margin: 0 0 5%;
}

.gallery .row {
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0 0;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .row .box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 1% 0;
  -ms-flex: 0.3;
      flex: 0.3;
}

.gallery .row .box .phone {
  background-image: url(../images/phone.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .illusion {
  background-image: url(../images/ilusion.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .city {
  background-image: url(../images/city.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .girl {
  background-image: url(../images/girl.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .bridge {
  background-image: url(../images/bridge.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .peron {
  background-image: url(../images/peron.png);
  height: 250px;
  background-size: cover;
  background-position: center;
}

.gallery .row .box .text {
  background-color: #f4f4f4;
  padding: 0 5% 0;
  color: #5a5a5a;
}

.gallery .row .box .text h6 {
  font-size: 1em;
  font-weight: 600;
  padding: 5% 0 5%;
  text-transform: uppercase;
}

.gallery .row .box .text p {
  font-weight: 300;
  line-height: 2em;
}
/*# sourceMappingURL=style.css.map */