@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Lato;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.primary {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed145b;
  border: 0;
  cursor: pointer;
}

/*
Header and navigation
*/
.page-header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 60;
}

.page-header .header-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header .header-bar .logo img {
  display: block;
}

.page-header .header-bar .menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-header .header-bar .menu__items li :hover {
  color: #ed145b;
}

.page-header .header-bar .menu__items li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 0 8px;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}

.page-header .header-bar .menu__items li .active {
  color: #ed145b;
}

/*Main */
/*Jumbotron*/
.page-main {
  /*Promotion section */
  /* Services section */
  /* INTERLUDE SECTION */
}

.page-main .jumbotron {
  position: relative;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  z-index: 50;
}

.page-main .jumbotron .intro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px;
}

.page-main .jumbotron .intro__header {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1.15px;
  text-align: center;
}

.page-main .jumbotron .intro__header-apart {
  font-weight: 800;
}

.page-main .jumbotron .intro__line {
  margin-top: 40px;
  width: 200px;
  height: 2px;
  background-color: #ed145b;
}

.page-main .jumbotron .intro__text, .page-main .jumbotron .intro__text2 {
  color: #fff;
  margin-top: 40px;
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 0.55px;
  text-align: center;
}

.page-main .jumbotron .intro__text2 {
  margin-top: 18px;
}

.page-main .jumbotron .intro__cta {
  margin-top: 50px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
}

.page-main .promotion {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.page-main .promotion:before {
  content: '';
  width: 100%;
  height: 45px;
  position: absolute;
  transform: rotate(-1deg);
  background-color: #ed145b;
  z-index: 1;
  top: -25px;
}

.page-main .promotion .promotioncontainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 650px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.page-main .promotion .promotioncontainer .promotionblock {
  display: -ms-flexbox;
  display: flex;
  color: #5a5a5a;
  -ms-flex-direction: column;
      flex-direction: column;
}

.page-main .promotion .promotioncontainer .promotionblock__text {
  font-weight: 400;
  font-size: 2.1em;
  font-style: italic;
}

.page-main .promotion .promotioncontainer .promotionblock__line {
  margin-top: 40px;
  width: 200px;
  height: 2px;
  background-color: #ed145b;
}

.page-main .promotion .promotioncontainer .promotionblock__paragraph {
  margin-top: 30px;
  text-align: justify;
  font-size: 1em;
  line-height: 1.6em;
}

.page-main .promotion .promotioncontainer .promotionblock__paragraph2 {
  margin-top: 30px;
  color: #ed145b;
  text-transform: uppercase;
}

.page-main .promotion .promotioncontainer .laptop__image {
  max-width: 700px;
}

.page-main .services-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.page-main .services-page__header {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 2.2em;
}

.page-main .services-page__line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 40px 0 40px;
}

.page-main .services-page__paragraph {
  color: #5a5a5a;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.page-main .services-page__row {
  margin: 75px 0 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 100px 0;
}

.page-main .services-page__row--box {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.page-main .services-page__row--box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-main .interlude-page {
  background-image: url(../images/hero.png);
  height: 500px;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0 20px;
  text-align: center;
}

.page-main .interlude-page__qoutetext {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.page-main .prices {
  background-color: #f4f4f4;
}

.page-main .prices-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15% 0 15%;
  -ms-flex-align: center;
      align-items: center;
}

.page-main .prices-page__header {
  font-size: 2.1em;
  color: #5a5a5a;
  font-weight: 400;
}

.page-main .prices-page__line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  margin: 40px 0 40px;
}

.page-main .prices-page__paragraph {
  text-align: center;
  color: #5a5a5a;
  font-size: 1em;
  font-weight: 300;
}

.page-main .prices-page__row {
  margin-top: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.page-main .prices-page__row .box {
  -ms-flex: 0.23;
      flex: 0.23;
  background-color: #fff;
}

.page-main .prices-page__row .box .top {
  background-color: #5a5a5a;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10%;
  position: relative;
}

.page-main .prices-page__row .box .top .text {
  color: #fff;
  font-size: 1.1em;
}

.page-main .prices-page__row .box .top .text .cost {
  font-size: 3em;
  font-style: bold;
}

.page-main .prices-page__row .box .top div {
  background-color: #f4f4f4;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  bottom: -20%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.page-main .prices-page__row .box .bottom {
  width: 100%;
  padding-top: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.page-main .prices-page__row .box .bottom ul {
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

.page-main .prices-page__row .box .bottom ul li {
  font-size: 1em;
  font-color: #5a5a5a;
  font-weight: 300;
}

.page-main .prices-page__row .box .bottom button {
  margin-top: 30px;
  color: #fff;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */