$page-grey: #5a5a5a;
$page-pink: #ed145b;
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: Lato;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/*
Header and navigation
*/

.page-header {
	position: absolute;
	width: 100%;
	.header-bar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		.logo {
			img {
				display: block;
			}
		}
		.page-navigation {
			.menu-items {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				li {
					:hover {
						color: $page-pink;
					}
					a {
						text-decoration: none;
						font-size: 1.1rem;
						font-weight: 700;
						letter-spacing: 0.4px;
						padding: 0 8px;
						cursor: pointer;
						color: #fff;
						transition: .3s;
					}
					.active {
						color: $page-pink;
					}
				}
			}
		}
	}
}



/*Main and jumbotron*/


.jumbotron {
	background-image: url('../images/hero.png');
	background-size: cover;
	height: 100vh;
}