@import 'vendor/include-media';
@import 'modules/base';
@import 'modules/all';
@import 'partials/partials';

	
	.prices {
		background-color: $section-grey;
	}
	.prices-page {
		display: flex;
		flex-direction: column;
		padding: 15% 0 10%;
		align-items: center;
		&__header {
			font-size: 2.1em;
			color: $page-grey;
			font-weight: 400;
		}
		&__line {
			width: 200px;
			height: 2px;
			background-color: $page-pink;
			margin: 40px 0 40px;
		}
		&__paragraph {
			text-align: center;
			color: $page-grey;
			font-size: 1em;
			font-weight: 300;
		}
		&__row {
			margin-top: 90px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.box {
				flex: 0.23;
				background-color: #fff;
				.top {
					background-color: $page-grey;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 10%;
					position: relative;
					.text {
						color: #fff;
						font-size: 1.1em;
						.cost {
							font-size: 3em;
							font-style: bold;
						}
					}
					div {
						background-color: $section-grey;
						width: 80%;
						height: 40px;
						border-radius: 25px;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						bottom: -20%;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1em;
						color: $page-grey;
					}
				}
				.bottom {
					width: 100%;
					padding-top: 20%;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					ul {
						list-style-type: none;
						padding: 0;
						line-height: 2em;
						li {
							font-size: 1em;
							color: $page-grey;
							font-weight: 300;
							text-align: center;
						}
					}
					button {
						margin-top: 30px;
						color: #fff;
						margin-bottom: 25px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
			}
		}
	}
	.about-page {
		margin: 5% 0 10%;
		&__row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.box {
				flex: 30%;
				display: flex;
				margin: 5% 0 0;
				justify-content: space-between;
				.text {
					flex: 0.75;
					line-height: 1.5em;
					h5 {
						color: $page-pink;
						font-size: 1em;
						text-transform: uppercase;
						padding: 0 0 5%;
						text-align: justify;
					}
					p {
						font-size: 0.9em;
						font-weight: 300;
						color: $page-grey;
					}
				}
				.image {
					flex: 0.15;
					img {
						object-fit: cover;
					}
				}
			}
		}
	}
	.banner-page {
		background-color: $page-pink;
		min-height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 11% 0;
		button {
			background-color: #fff;
			color: $page-pink;
			font-size: 1em;
			font-weight: 700;
			text-transform: uppercase;
		}
		h6 {
			font-size: 2.2em;
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;
			span {
				font-weight: 700;
			}
		}
	}
	.gallery {
		margin: 10% 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__header {
			font-size: 2.1em;
			color: $page-grey;
			font-weight: 400;
		}
		&__line {
			width: 200px;
			height: 2px;
			background-color: $page-pink;
			margin: 30px 0 40px;
		}
		&__paragraph {
			text-align: center;
			font-size: 1em;
			color: $page-grey;
			font-weight: 300;
			text-align: center;
			margin: 0 0 5%;
		}
		.row {
			display: flex;
			margin: 5% 0 0;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			.box {
				display: flex;
				flex-direction: column;
				padding: 0 1% 0;
				flex: 0.3;
				.phone {
					background-image: url(../images/phone.png);
					height: 250px;
					background-size: cover;
					background-position: center;
					
				}
				.illusion {
					background-image: url(../images/ilusion.png);		
					height: 250px;
					background-size: cover;
					background-position: center;
					
				}
				.city {
					background-image: url(../images/city.png);
					height: 250px;
					background-size: cover;
					background-position: center;
				
				}
				.girl {
					background-image: url(../images/girl.png);
					height: 250px;
					background-size: cover;
					background-position: center;
					
				}
				.bridge {
					background-image: url(../images/bridge.png);
					height: 250px;
					background-size: cover;
					background-position: center;
					
				}
				.peron {
					background-image: url(../images/peron.png);
					height: 250px;
					background-size: cover;
					background-position: center;
					
				}
				.text {
					background-color: $section-grey;
					padding: 0 5% 0;
					color: $page-grey;
					h6 {
						font-size: 1em;
						font-weight: 600;
						padding: 5% 0 5%;
						text-transform: uppercase;
					}
					p {
						font-weight: 300;
						line-height: 2em;
					}
				}
			}
		}
	}


